.main{
	width: 100%;
	height: 90%;
	font-size: 62.5%;
	display: flex;
justify-content:center;
align-items: center;
flex-direction: column;

}
#ContactHead{
	margin-top: 0rem;
	font-size: 2rem;
}
.detailsdiv{
	margin-top: 1rem;
	width: 100%;
display: flex;
justify-content:center;
align-items: center;

}
.info{
	box-sizing: border-box;
	height: 27rem;
	transition: all 0.3s linear;
	background: linear-gradient(to bottom right,rgb(41, 134, 220),rgb(58, 58, 218));
	padding: 1.4rem 2.9rem;
	border-radius: 2rem 0 0 2rem;
	& h1{
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
}

.info p{
	width: 18rem;
	font-size: 1.1rem;
	margin-top: 1rem;
margin-left: -0.2rem;
color: rgb(190, 186, 186);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
;
}
.info .icons{
	margin-top: 3rem;
margin-left: -1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.2rem;
	& .firsti,.secondi{
		display: flex;
		justify-content: center;
		align-items: center;
	gap: 1rem;
	& p{
		margin-top: -0.03rem;
		color: aliceblue;
		font-family: monospace;
		font-size: 1.1rem;
		& a{
			color: aliceblue;
		}
		& a:hover{
			text-decoration: underline;
		}
	}
	}
	.secondi p{
		margin-top: 1.6rem;
	
	}
}



.formdiv{

	width: 40rem;
		height: 27rem;
		background: #ecf0f3;
		padding:1.4rem 2rem;
		border-radius:0 2rem 2rem 0;

	& h1{
		font-family: monospace;
	color:black;
}
& form .inputs{
	padding: 1.5rem 0;
& input{
width: 17.1rem;
}
}
}
.formdiv form{
	display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
& input:nth-child(1){
	margin-bottom:1.5rem;
	margin-right: 1.5rem;
}
& input:nth-child(3){

	margin-right: 1.5rem;
}
& input,textarea{
	border: none;
	
	background-color:white;
	color: rgb(135, 132, 132);
	padding: 0.5rem 1rem;
	/*box-shadow:inset 0.8rem 0.8rem 0.8rem #ecf0f3, inset -0.8rem -0.8rem 0.8rem #ffffff;*/
outline-style:double;
border-radius: 0.5rem;
}
& textarea{
	margin-top: 0.5rem;
	padding: 0.8rem 1.5rem 3rem 1.5rem;
	width: 100%;

	resize: none;
}
}

.icons2{
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.9rem;
	& #f{
		cursor: pointer;
		background-color:rgb(10, 194, 240);
		transition: all 0.25s linear;
	}
	& #f:hover{
background-color: black;
color: rgb(10, 194, 240);
	}
}
.formdiv form button{
margin-top: 2.5rem;
width: 100%;
padding: 0.5rem 0;
border-radius: 0.5rem;
border: 0.15rem solid black;
font-family: monospace;
transition: all 0.25s linear;
font-size: 1.3rem;
&:hover{
	background-color: cyan;
	
color: black;
}
}


@media screen and (max-width:700px) {

	.formdiv h1{
		font-size: 1.5rem;
	}
	}
	
	@media screen and (max-width:635px) {
		:root{
			font-size: 55%;
		}
			.formdiv form button{
				margin-top: 1.5rem;
			}
	
	}
	@media screen and (max-width:600px) {
  :root{
    font-size: 50%;
  }

}
@media screen and (max-width:540px) {
	:root{
			font-size: 46%;
	}
	.formdiv form input,textarea{
		font-size: 1.5rem;
	}

}
@media screen and (max-width:500px) {
	:root{
			font-size: 45%;
	}
	.formdiv form input,textarea{
		font-size: 1.5rem;
	}

}

@media screen and (max-width:480px){
	:root{
		font-size: 50%;
	}
	.info{
		position: absolute;
transform: scale(0.1);
opacity: 0;
	}
	.formdiv{
border-radius: 2rem;
& form button{
	margin-top: 1.6rem;
}
	& form input{
		padding: 1rem;
	}
	}
	.info,.formdiv{
		height: 30rem;
	}
	.formdiv h1{
		font-size: 2rem;
	}
	.formdiv form{
		margin-top: 1rem;
		& textarea{
			margin-top: 0.5rem;
		}
	}

}
@media screen and (max-width:400px) {
	:root{
		font-size: 45%;
	}

}
@media screen and (max-width:380px) {
	:root{
		font-size: 40%;
	}
}
@media screen and (max-width:350px) {
	:root{
		font-size: 35%;
	}
}







@media screen and (max-height:390px) {
	:root{
		font-size: 50%;
	}
	.formdiv form input{
		font-size: 1.3rem;
	}
	.formdiv h1{
		font-size: 2rem;
	}
	.formdiv form button{
		margin-top: 1.7rem;
	}

}
@media screen and (max-height:380px) {
	:root{
		font-size: 45%;
	}

}
@media screen and (max-height:350px) {
	:root{
		font-size: 40%;
	}
	.formdiv form input,textarea{
		font-size: 1.4rem;
	}
}
@media screen and (max-height:300px) {

	:root{
		font-size: 35%;
	}

}
@media screen and (max-height:280px) {
	:root{
		font-size: 33%;
	}
}
@media screen and (max-height:250px) {
	:root{
		font-size: 30%;
	}
}
	


	
	
	
	
	
	
	
	
	
	@media screen and (max-height:390px) {
	
		.formdiv{
			font-size: 50%;
		}
	
	}
	@media screen and (max-height:380px) {
		.formdiv{
			font-size: 45%;
		}
	}
	@media screen and (max-height:350px) {
		.formdiv{
			font-size: 40%;
		}
	}
	@media screen and (max-height:300px) {
	
		.formdiv{
			font-size: 35%;
		}
	
	}
	@media screen and (max-height:280px) {
		.formdiv{
			font-size: 33%;
		}
	}
	@media screen and (max-height:250px) {
		.formdiv{
			font-size: 30%;
		}
	}



	