.product-section {
  max-width: 120rem;
  margin: 4rem auto;
  padding: 2rem;
  text-align: center;
}

.section-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #621c82;
}

/* Controls: search + filter */
.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.controls input {
  padding: 1rem 1rem;
  width: 25rem;
  border: 0rem solid #ccc;
  border-radius: rem;
  font-size: 1.3rem;
  transition: 0.3s;
  
}

.controls input:focus {
  border-color: #e5b200;
  outline: none;
}

.controls select {
  padding: 1rem 1rem;
  border: 0rem solid #ccc;
  border-radius: rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.controls select:hover {
  border-color: #e5b200;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
}

/* Flip Card */
.flip-card {
  background: transparent;
  perspective: 100rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 25rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Front side */
.flip-card-front, 
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  overflow: hidden;
}

/* Front */
.flip-card-front {
  background:#323131;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.flip-card-front img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-bottom: rem solid #eee;
}

.flip-card-front h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #f3efef;
		font-family: sans-serif;
}

/* Back */
.flip-card-back {
  background: #323131;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.flip-card-back h3 {
	font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #f7f4f4;
}


.flip-card-back p {
  margin: rem 0;
  color: #f9f6f6;
		font-size: 1.4rem;
}

.category {
  font-size: 0.9rem;
  color: #f7f5f5;
}

.buy-btn {
  margin-top: 1rem;
   background: #e5b200;
  color: #fff;
  border: none;
  border-radius: rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buy-btn:hover {
  background: #c49c00;
}

/* No products */
.no-products {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #777;
}

