*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
#root{

  padding: 0;
margin: 0;
width: 100vw;
height: 100vh;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
font-size: 62.5%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media screen and (min-width:2000px) {
	:root{
		font-size: 170%;
	}

}
@media screen and (max-width:2000px) {
	:root{
		font-size: 110%;
	}

}
@media screen and (max-width:1600px) {
	:root{
		font-size: 87%;
	}

}
@media screen and (max-width:1400px) {
	:root{
		font-size: 80%;
	}

}

@media screen and (max-width:1200px) {
	:root{
		font-size: 75%;
	}

}


@media screen and (1000px< width <=1200px) {
	:root{
		font-size: 70%;
	}

}


@media screen and (max-width:1000px) {
:root{
	font-size: 65%;
}

}

@media screen and (max-width:800px) {
	:root{
		font-family:60% ;
	}

}


@media screen and (max-width:700px) {
:root{
	font-size: 58%;
}

}

@media screen and (max-width:600px) {
  :root{
    font-size: 53%;
  }
		

}
@media screen and (max-width:520px) {
	:root{
			font-size: 46%;
	}

}
@media screen and (max-width:400px) {
	.menu-button{
		display: block;
	}
	:root{
		font-size: 50%;
	}

}
@media screen and (max-width:380px) {
	:root{
		font-size: 45%;
	}
}
@media screen and (max-width:350px) {
	:root{
		font-size: 40%;
	}
}







@media screen and (max-height:390px) {

	:root{
		font-size: 50%;
	}

}
@media screen and (max-height:380px) {
	:root{
		font-size: 45%;
	}
}
@media screen and (max-height:350px) {
	:root{
		font-size: 40%;
	}
}
@media screen and (max-height:300px) {

	:root{
		font-size: 35%;
	}

}
@media screen and (max-height:280px) {
	:root{
		font-size: 33%;
	}
}
@media screen and (max-height:250px) {
	:root{
		font-size: 30%;
	}
}
